# ==========================================
# 1. 忽略大型模型文件 (极其重要，防 GitHub 报错)
# ==========================================
*.pt
sam3.pt

# ==========================================
# 2. 忽略你指定不需要上传的文件夹
# ==========================================
VLM-CADFeatureRecognition/

# ==========================================
# 3. 忽略本地生成的数据和产物
# ==========================================


# ==========================================
# 4. 忽略编辑器配置和 Python 缓存 (通用规范)
# ==========================================
.vscode/
__pycache__/
*.pyc
.DS_Store